/*统计 start*/
.statistics_head{
  width:100%;
  height:30px;
  line-height:30px;
  font-size:16px;
  border-bottom:1px solid #bfbfbf;
  background-image: -moz-linear-gradient( 90deg, rgb(217,217,217) 1%, rgb(237,237,237) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(217,217,217) 1%, rgb(237,237,237) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(217,217,217) 1%, rgb(237,237,237) 100%);
  box-shadow: 0px 1px 0px 0px rgba(191, 191, 191, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
}
.selectedTabPage
{
	width:9%;
	float:left;
    font-family: "microsoft yahei";
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  	background-color: rgb(88, 196, 160);
 	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.45),inset 0px 1px 1px 0px rgba(0, 0, 0, 0.34);
 	border-bottom:1px solid #58c4a0;
 	color:#fff;
}
.unselectedTabPage
{
	width:9%;
	float:left;
    font-family: "microsoft yahei";
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color:#4d4d4d;
}
.count{
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(179, 179, 179);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	height:100%;
	border-radius:4px;
}
.namerace{
	float:left;
	width:100%;
	max-height:100px;
	overflow-y:auto;
}
.staticLabel{
	color:#4D4D4D;
	display:inline-block;
	float:left;
	width:105px;
	margin: 18px 0px 12px 28px;
}
.timeLabel{
	color:#4D4D4D;
	display:inline-block;
	margin: 18px 0px 12px 28px;
}
.PartList{
	width:80%;
	display:inline-block;
	line-height:23px;
	float:left;
	margin-top:16px;
}
.timerace{
	float:left;
}
.staticinput{
	height:26px;
	line-height:26px;
}
.statistics_table{
	
    background-color: rgb(255, 255, 255);
  	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.59);
 	width: 301px;
 	height: 667px;

}
.static{
	margin-left:15px;
	margin-top:15px;
	float:right;
}
.Checkbox{

}
/*统计 end*/