.RightFrontGroup{
	width:100%;
	height:30px;
}
.searchHead{
	position: relative;
	left:78px;
	font-size: 16px;
    color: #4d4d4d;
}
.searchHead i{
	display:inline-block;
	width:20px;
	height:17px;
	background:url(../../img/query_icon.png) no-repeat;
	margin-top:7px;
	float:left;
}
.searchHead abr{
	width:1px;
	height:16px;
	background-color: rgb(203, 203, 203);
	float:left;
	margin:7px 20px 0 18px;
}
.searchHead span{
	line-height:30px;
}
.search {
	height: auto;
	overflow:hidden;
	margin: 20px 10px;
	background-color: rgba(242, 242 242, 0);
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(179, 179, 179);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding-bottom: 2px;
}

.infolist {
	padding-top: 10px;
	padding-left: 46px;
	padding-bottom: 10px;
}

.infos {
	margin-top:10px;
	height: 30px;
	width: 100%;
}
.infolistspan {
	display: inline-block;
	height:24px;
	line-height:24px;
	font-size: 14px;
	color: rgb(77, 77, 77);
	width: 80px;
	text-align: center;
	float: left;
}

.inputWidthforSearch {
	width: 193px;
	height:24px;
	line-height:24px;
	float: left;
}


